{% extends 'home/tables.html' %} {% load static %} {% block users_table %}
<!-- Light table -->
<div class="table-responsive">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="sort" data-sort="name">Nombre de usuario</th>
        <th scope="col" class="sort" data-sort="budget">Nombre</th>
        <th scope="col" class="sort" data-sort="status">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col" class="sort">Rol</th>
        <th scope="col" class="sort">Estado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="list">
      {% for user in users %}

      <tr>
        <th scope="row">
          <div class="media align-items-center">
            <div class="media-body">
              <span class="name mb-0 text-sm">{{ user.username }}</span>
            </div>
          </div>
        </th>
        <td class="budget">{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>
          {% if user.is_superuser %}
            <span span class="badge badge-pill badge-primary">SuperUsuario</span>
          {% else %}
            <span class="badge badge-info">{{ user.groups.all.0 }}</span>
          {% endif %}
        </td>
        <td>
          {% if user.is_active %}
            <span class="badge badge-success">Activo</span>
          {% else %}
            <span class="badge badge-danger">Inactivo</span>
          {% endif %}
        </td>
        <td class="text-right">
          <div id="appAlert" class="dropdown">
            <a
              class="btn btn-sm btn-icon-only text-light"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="{% url 'edit_user' user.id %}">
                <i class="fas fa-user text-muted"></i>
                Modificar usuario
              </a>
              <a class="dropdown-item" href="#" onclick="editPermissions('{{ user.id }}')">
                <i class="fas fa-edit text-primary"></i>
                Cambiar permisos
              </a>
              <a class="dropdown-item" href="#" onclick="desactive_or_active_user('{{ user.id }}', '{{ user.is_active }}')">
                
                {% if user.is_active %}
                  <i class="fas fa-trash text-red"></i>
                  Desactivar usuario
                {% else %}
                  <i class="fas fa-check text-green"></i>
                  Activar usuario
                {% endif %}
                
              </a>
            </div>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %} 

{% block AlertVueJS %}

<script src="{% static 'assets/js/vue.3.2.36.global.js' %}"></script>

<script type="text/javascript">
  async function editPermissions(id) {
    const { value: formValues } = await Swal.fire({
        title: "Cambiar permisos",
        html: `
          <select class="form-control" id="role" name="role" required>
              < option disabled value="">Selecciona una opción</>
              <option value="operador">Operador</option>
              <option value="admin">Administrador</option>
              <option value="capturista">Capturista</option>
          </select>
        `,
        focusConfirm: true,
        preConfirm: () => {
          return [
            document.getElementById("role").value,
          ];
        },
      }).then((result) => {
        const role = result.value;

        // Validate that the role is not empty
        if (role === undefined || role === null || role === "") {
          return false;
        }

        Swal.fire({
          title: "Esta seguro?",
          text: "Quieres cambiar los permisos de este usuario a " + result.value + "?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Si, cambialo"
        }).then((result) => {
          if (result.isConfirmed) {
            
            // Call the changeRole method from the Vue instance
            app.changeRole(id, role);

          }
        });
      });
  }

  function desactive_or_active_user(id, is_active) {

    const action = (is_active == 'True') ? "desactivar" : "activar";

    Swal.fire({
      title: "Esta seguro?",
      text: "Quieres " + action + " este usuario?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Si, quiero " + action + "lo"
    }).then((result) => {
      if (result.isConfirmed) {
        app.desactive_or_active_user(id);
      }
    });
  }
</script>

<script type="module">
  // storage the CSRF token for AJAX requests
  const private_keys = {
    CSRF_MIDDLEWARE_TOKEN: "{{ csrf_token }}",
  };

  var err = document.getElementById("app");

  // Initialize Vue.js application
  const app = Vue.createApp({
    delimiters: ["[[", "]]"],
    data() {
      return {
        role: "",
      };
    },
    methods: {
      // Function to add a new user
      changeRole(id, userRole) {
        const formData = {
          role: '' + userRole, // Ensure role is a string
          csrfmiddlewaretoken: private_keys.CSRF_MIDDLEWARE_TOKEN,
        };

        // Send the POST request to change the user's role
        $.post(`usuarios/rol/${id}`, formData, function (data) {
          Swal.fire({
              title: "Cambio!",
              text: "Permisos cambiados correctamente.",
              icon: "success"
          }).then(() => {
            window.location.href = "{% url 'table_user' %}";
          });
          
        }).fail(function (error) {
          console.error("Error:", error);
          err.innerHTML = `<div class="alert alert-danger" role="alert"> ${error.responseText} </div>`;
        });
      },
      desactive_or_active_user(id) {
        const formData = {
          csrfmiddlewaretoken: private_keys.CSRF_MIDDLEWARE_TOKEN,
        };

        // Send the POST request to desactivate or activate the user
        $.post(`usuarios/eliminar/${id}`, formData, function (data) {
          Swal.fire({
              title: "Cambio!",
              text: "Usuario desactivado correctamente.",
              icon: "success"
          }).then(() => {
            window.location.href = "{% url 'table_user' %}";
          });
          
        }).fail(function (error) {
          console.error("Error:", error);
          err.innerHTML = `<div class="alert alert-danger" role="alert"> ${error.responseText} </div>`;
        });
      },
    },
  }).mount("#appAlert");

  window.app = app;
</script>

{% endblock AlertVueJS %}
